@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&display=swap&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-unbounded: "Unbounded", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;

    --color-primary: #CCFE00;
    --color-lightBG: #F3F4F4;
    --color-greenBG: #F4FECD;
    --color-blueBG: #CCD7F7;
    --color-hover: #DBFF48;
}

body {
    font-family: var(--font-unbounded);
}

@layer utilities {
  .rounded-custom {
    border-radius: 20px;
  }
}

/* h1 {
  font-family: var(--font-unbounded);
  @apply text-4xl font-bold mb-6;
} */


.path {
    clip-path: path("M 10,40 L 70,40 A 10,10 0,0,0 80,30 L 80,10 A 10,10 0,0,1 90,0 L 140,0 A 10,10 0,0,1 150,10 L 150,190 A 10,10 0,0,1 140,200 L 10,200 A 10,10 0,0,1 0,190 L 0,50 A 10,10 0,0,1 10,40 Z");
}

  /* Headings */


  .payload-richtext h2 {
    @apply text-4xl mb-4 leading-12;
  }

  .payload-richtext h3 {
    @apply text-2xl mb-4;
  }

  .payload-richtext h5 {
    @apply text-xl mb-2;
  }

  .payload-richtext p {
    @apply font-inter font-light text-lg;
  }

  .adv-richtext p {
    @apply text-base font-normal text-black/80; /* Or use rem like 1rem */
  }