@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&display=swap&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

body {
  font-family: var(--font-unbounded);
}

@theme {
    --font-unbounded: "Unbounded", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;

    --color-back: var(--back);

    --color-primary: #CCFE00;
    --color-greenBG: #F4FECD;
    --color-blueBG: #CCD7F7;
    --color-hover: #DBFF48;
    --color-background: var(--background);
    --color-label: var(--label);
    --color-hoverText: var(--hoverText);

    /* crumbs */
    --color-crumbs: var(--crumbs);
    --color-crumbsActive: var(--crumbsActive);

    --color-link: var(--link);

    /* Input BG */
    --color-inputBG: var(--inputBG);


}

:root {
  --background: #F3F4F4;
  --back: #fff;
  --label: #12121266;
  --hoverText: #121212;
  --crumbs: var(--color-gray-600);
  --crumbsActive: var(--color-gray-900);
  --inputBG: #fff;
  --link: #121212;
}

.dark {
  --background: #2C2C2C;
  --back: #121212;
  --label: #fff;
  --hoverText: #CCFE00;
  --crumbs: var(--color-gray-600);
  --crumbsActive: var(--color-gray-400);
  --inputBG: #242424;
  --link: #fff;
}

.bg-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  opacity: 0.6;
  z-index: 0;
}

/* styles/globals.css */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


.container-class {
  @apply container mx-auto my-16 lg:my-20 px-6 lg:px-16 lg:py-13
}

@media (max-width: 768px) {
  h1 {
    @apply text-2xl;
  }

  h1.special {
    @apply text-[32px] text-left md:leading-10;
  }

  h1.leadForm {
    @apply text-[22px];
  }
}

@layer utilities {
  .rounded-custom {
    border-radius: 20px;
  }
}

/* h1 {
  font-family: var(--font-unbounded);
  @apply text-4xl font-bold mb-6;
} */


.path {
    clip-path: path("M 10,40 L 70,40 A 10,10 0,0,0 80,30 L 80,10 A 10,10 0,0,1 90,0 L 140,0 A 10,10 0,0,1 150,10 L 150,190 A 10,10 0,0,1 140,200 L 10,200 A 10,10 0,0,1 0,190 L 0,50 A 10,10 0,0,1 10,40 Z");
}

  /* Headings */

  .payload-richtext h1 {
    @apply text-2xl md:text-5xl my-2 md:mb-4 md:px-40 md:leading-13;
  }

  .payload-richtext h2 {
    @apply text-2xl md:text-4xl mb-2 md:mb-4 md:leading-12;
  }

  .payload-richtext h3 {
    @apply text-xl md:text-2xl mb-4;
  }

  .payload-richtext h5 {
    @apply text-xl mb-2;
  }

  .payload-richtext p {
    @apply font-inter font-light text-base md:text-lg;
  }

  .adv-richtext p {
    @apply text-base font-normal text-black/80; /* Or use rem like 1rem */
  }

  .mission-richtext p {
    @apply text-sm font-inter uppercase text-hoverText mb-4; 
  }

  .mission-richtext h5 {
    @apply text-base md:text-2xl; 
  }


  /* Case heading */
  .case-richtext h1 {
    @apply text-2xl md:text-5xl mb-2 md:mb-4
  }
  .case-richtext p {
    @apply text-base md:text-2xl font-light
  }